@charset "UTF-8";
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  font-size: 14px;
}
.grid-container {
  margin: 0 auto;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'nav'
    'main';
}
header {
  grid-area: header;
  text-align: center;
  vertical-align: center;
  padding: 8px 16px;
}
main {
  grid-area: main;
  overflow: auto;
  padding: 1rem;
}
nav {
  grid-area: nav;
  box-shadow: 0px -2px 4px rgba(90, 91, 106, 0.24),
    0px 1px 2px rgba(58, 58, 68, 0.24);
  background-color: var(--white);
  z-index: 2;
}
#root {
  height: 100%;
}
.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'main';
  grid-template-rows: 60px 60px 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 0;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}

.tableFixHead {
  overflow-y: auto;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: gray;
}

input {
  width: 10rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: inherit;
  box-shadow: 5px 5px 5px 5px #888;
  background: #fff;
}
button {
  font-size: inherit;
  cursor: pointer;
  height: 2rem;
  width: 10rem;
  color: white;
  background-color: black;
}
label {
  display: block;
  font-size: 24px;
}

.login {
  display: flex;
  flex-direction: column;
}

.login div {
  margin: 1rem 0;
}
nav ul {
  list-style-type: none;
  background-color: lightgray;
  border: 1px solid black;
  overflow: auto;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
nav li {
  padding: 0.5em;
  flex: 1 0;
}

nav li:hover {
  background-color: darkgray;
}

.seasons {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.games {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'calculator'
    'subheader'
    'datatable';
}
.games-table {
  grid-area: datatable;
}
.seasons-table {
  flex: 1 0;
}
.subheader {
  grid-area: subheader;
}
.calculator {
  grid-area: calculator;
}

.nbaGame {
  display: grid;
  height: 100%;
}

.mlbGame {
  display: grid;
  height: 100%;
}
