default: &default
  adapter: postgresql
  encoding: unicode
  url: <%= ENV['DATABASE_URL'] %>
  pool: 5

development:
  <<: *default
  database: auth_development

test:
  <<: *default
  database: auth_test

production:
  <<: *default
  database: auth_production
