apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: crawler
  name: crawler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: crawler
  template:
    metadata:
      labels:
        app: crawler
    spec:
      containers:
        - name: crawler
          image: crawler:dev
          ports:
            - containerPort: 5000
