apiVersion: v1
kind: Service
metadata:
  labels:
    app: db
  name: db
spec:
  type: NodePort
  ports:
    - name: "5432"
      port: 5432
      targetPort: 5432
      nodePort: 31238
  selector:
    app: db
