apiVersion: v1
data:
  nginx.conf: |-
    server {
        listen 80;

        location / {
            proxy_pass http://127.0.0.1:1234;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
        }
    }
kind: ConfigMap
metadata:
  name: nginx-config
