apiVersion: v1
kind: Service
metadata:
  labels:
    app: redis
  name: redis
spec:
  type: NodePort
  ports:
  - name: "6379"
    port: 6379
    targetPort: 6379
    nodePort: 31239
  selector:
    app: redis
