#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'header'
    'nav'
    'main';
  height: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow: auto;
}

nav {
  grid-area: nav;
}