.color0 {
  color: var(--color0);
}
.color5 {
  color: var(--color5);
}
.color10 {
  color: var(--color10);
}
.color20 {
  color: var(--color20);
}
.color30 {
  color: var(--color30);
}
.color40 {
  color: var(--color40);
}
.color50 {
  color: var(--color50);
}
.color60 {
  color: var(--color60);
}
.color70 {
  color: var(--color70);
}
.color80 {
  color: var(--color80);
}
.color90 {
  color: var(--color90);
}
.color100 {
  color: var(--color100);
}
