table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  background-color: gray;
}
.tableFixHead {
  overflow-y: auto;
  thead th {
    position: sticky;
    top: 0;
  }
}